[user]
[credential]
	helper = cache --timeout=3600
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg2 = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ck = checkout
	br = branch
	st = status
[color]
	ui = true
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[core]
	editor = /usr/bin/vim
[push]
	default = matching
